<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Pharm</title>
</head>
<body>
    <form id="logout" method="POST" action="/logout">
        <button type="submit">로그아웃</button>
    </form>
    <h1>약국 페이지</h1>
    

    <form id="prescribe_or" method="POST" action="/pharm-reserve">
        환자 예약 확인</br>
        예약환자가 없을 경우 예약 확인을 해도 페이지가 그대로 입니다.</br></br>
        약국 이름:
        <input type="text" name="placename" placeholder="약국 이름" /></br>
        예약환자 이름:
        <input type="text" name="name" placeholder="이름" />
        <button type="submit">확인하기</button>
    </form>
    </br></br>

    약국별 방문이력</br>
    <table>
        <thead>
            <tr>
                <th>
                    약국 이름
                </th>
                <th>
                    방문 환자
                </th>
                <th>
                    환자 핸드폰번호
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in visitor %}
            <tr>
                <td>
                    {{ row[0] }}
                </td>
                <td>
                    {{ row[1] }}
                </td>
                <td>
                    {{ row[2] }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

</body>

</html>